<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        {{> auth/email-styles}}
    </style>
</head>
<body>
    <div class="container">
        <h1>{{header}}</h1>
        <h2>{{subheader}}</h2>
        <p>{{bodyText}}</p>
        <a href=`{{buttonText}}` class="cta-button">Verify Email</a>
        
        <div class="footer">
            <p>&copy; Note App. All rights reserved.</p>
        </div>
    </div>
</body>
</html>